body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282828; /* Warna fallback */
    background-image: url('eagle.png.jpg'); /* Gambar background */
    background-size: cover; /* Agar gambar menutupi seluruh layar */
    background-position: center; /* Posisi gambar di tengah */
    color: #00ff00; /* Warna hijau neon */
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden; /* Agar tidak ada scroll */
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Latar belakang semi-transparan */
    padding: 20px;
    border-radius: 10px;
}

#welcome {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5; /* Jarak antar baris */
}

#clock {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#date {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#message {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
