body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    background-image: url('eagle.png.jpg');
    background-size: cover;
    background-position: center;
    color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #ff9933;
    box-shadow: 0 0 20px rgba(255, 102, 0, 0.7);
    transition: all 0.3s ease;
}

#welcome {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    color: #ffcc66;
    transition: all 0.3s ease;
}

#clock {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

#date {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* Motivasi */
#motivation {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    transition: all 0.5s ease-in-out;
}

.glitch {
    position: relative;
    animation: glitch 2s infinite;
}

@keyframes glitch {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}

.neon-text {
    text-shadow: 0 0 5px #ff6600, 0 0 10px #ff3300, 0 0 20px #ff0000;
}

/* Efek Api */
.fire-effect {
    position: relative;
    color: #ff9933;
    text-shadow:
        0 0 5px #ff6600,
        0 0 10px #ff3300,
        0 0 20px #ff0000,
        0 0 40px #ff3300;
    animation: fireGlow 1.5s infinite ease-in-out;
}

@keyframes fireGlow {
    0% {
        text-shadow:
            0 0 4px #ff6600,
            0 0 8px #ff3300,
            0 0 16px #ff0000,
            0 0 32px #ff3300;
        transform: translateY(0);
    }
    50% {
        text-shadow:
            0 0 6px #ff9966,
            0 0 12px #ff6600,
            0 0 24px #ff3300,
            0 0 48px #ff0000;
        transform: translateY(-2px);
    }
    100% {
        text-shadow:
            0 0 4px #ff6600,
            0 0 8px #ff3300,
            0 0 16px #ff0000,
            0 0 32px #ff3300;
        transform: translateY(0);
    }
}

#actionButton {
    background-color: #000;
    color: #ff9933;
    border: 2px solid #ff9933;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

#actionButton:hover {
    background-color: #ff9933;
    color: #000;
    box-shadow: 0 0 10px #ff6600, 0 0 20px #ff3300;
}
